<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Potluck Form</title>
    <nav th:replace="base :: csslinks"></nav>
</head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <h1>Potluck Form</h1>
    <form th:action="@{/process}" th:object="${person}" method="post">
        <div class="form-group">
            <input type ="hidden" th:field ="*{id}" />
            <label for="name">Name:</label>
            <input type="text" class="form-control" th:field="*{name}"><br/>
            <span th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="food">Food:</label>
            <input type="text" class="form-control" th:field="*{food}"><br/>
            <span th:if="${#fields.hasErrors('food')}"
                  th:errors="*{food}"></span>
        </div>
        <button type="submit" class="btn btn-info btn-lg">Submit</button>
    </form>
    <br /><br />
</div>
<nav th:replace="base :: jslinks"></nav>
</body>
</html>