<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="base :: csslinks"> </th:block>
    <title>List of People</title>
</head>

<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <h1 class = "display-4">List of People</h1>
    <div th:if="${search}!=null" th:inline="text">You searched for [[${search}]]:</div>
    <ul class="list-group" th:each="person:${people}">
        <a th:href="@{/detail/{id}(id=${person.id})}">
            <li class="list-group-item" th:text="${person.name}">
        </a>
        </li>
    </ul>
    <br /><br />
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>