<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Potluck List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <nav th:replace="base :: csslinks"></nav>
</head>
<body>
<nav th:replace="base :: navbar"></nav>

<h1 class = "display-4">List of People</h1>
<ul class="list-group" th:each="eachPerson:${people}">
    <a th:href="@{/detail/{id}(id=${eachPerson.id})}">
        <li class="list-group-item" th:text="${eachPerson.name}">
    </a>
    </li>
</ul>
<nav th:replace="base :: jslinks"></nav>
</body>
</html>